<h1>Example App: Welcome {{{userEmail}}}</h1>

<video style="height: 400px; width:600px;" id="videoPlayer" controls muted="muted" autoplay>
        <source src='http://localhost:3000/content/viewContent/video/{{movie.path}}' type="video/mp4"> </source>
</video>

<div> Likes :  {{movie.likes}} </div>
<div> Dislikes : {{movie.dislikes}} </div>
<div> comments section </div>
<a href="/content/addToMyList/{{movie._id}}"> Add to my list </a>