<h2> Filme </h2>

<div id="popular-content" class="containerCentered">
    Recent adaugate
    <ul class="contentList">
        {{#if recentContent}}
            {{#each recentContent}}
                <li style="list-style: none;">
                    <div> {{title}}</div>
                    <a href="/content/viewContent/{{_id}}"> 
                        <img src="http://localhost:3000/content/thumbnail/{{thumbnail}}" class="contentThumbnail"> 
                    </a> 
                </li>
            {{/each}}
        {{/if}}
    </ul>
</div>  

<div id="popular-content" class="containerCentered">
    Populare in aceasta saptamana
    <ul class="contentList">
        {{#if popularityContent}}
            {{#each popularityContent}}
                <li style="list-style: none;">
                    <div> {{title}}</div>
                    <a href="/content/viewContent/{{_id}}"> 
                        <img src="http://localhost:3000/content/thumbnail/{{thumbnail}}" class="contentThumbnail"> 
                    </a> 
                </li>
            {{/each}}
        {{/if}}
    </ul>
</div>  

<div id="recommended-content" class="containerCentered">
    Recomandate pentru tine
    <ul class="contentList">
        {{#if contentRecomended}}
            {{#each contentRecomended}}
                <li style="list-style: none;">
                    <div> {{title}}</div>
                    <a href="/content/viewContent/{{_id}}"> 
                        <img src="http://localhost:3000/content/thumbnail/{{thumbnail}}" class="contentThumbnail"> 
                    </a> 
                </li>
            {{/each}}
        {{/if}}

        {{#if contentRecomended2}}
            {{#each contentRecomended2}}
                <li style="list-style: none;">
                    <div> {{title}}</div>
                    {{#if seasons}}
                        <a href="/content/viewSeries/{{_id}}"> 
                            <img src="http://localhost:3000/content/thumbnail/{{thumbnail}}" class="contentThumbnail"> 
                        </a>
                    {{else}}
                        <a href="/content/viewContent/{{_id}}"> 
                             <img src="http://localhost:3000/content/thumbnail/{{thumbnail}}" class="contentThumbnail"> 
                         </a> 
                    {{/if}}
                </li>
            {{/each}}
        {{/if}}
    </ul>
</div>



{{!-- <h2> <a href="/content/browse/series"> Seriale </a> </h2>

<a href="../../mylist"> Lista mea de continut </a>

<!-- Editare profil features -->
<br>
<a href="/user/viewProfile"> View my profile </a> --}}