

<p>
    {{#if message}}
    {{message}}
    {{/if}}
</p>

 <div class="main"> <!-- main container -->
    
    <h1> Profilele tale </h1>
    <section id="description">
        <table>
                {{#each profiles}}
                    <tr>
                        <td>
                            <a href='/content/browse/profile/{{this._id}}'> 
                            <img src="../img/profile.png" width="100px" height="100px">
                            </a> 
                        </td>

                        <td>{{this.title}}</td>

                        <td> 
                            <a href='/profiles/deleteProfile/{{this._id}}'> <img src="../img/deleteProfile.png" width="50px" height="50px"> </a> 
                        </td>

                        <td>
                            <button class="editProfilebtn btn btn-primary " name="{{this._id}}"> Edit profile </button>
                        </td>
                    </tr>
                {{/each}}
        </table>
        <button id="add-profile-btn"  class="btn btn-primary"> Add profile </button>
    </section>